%h1 Current elections

%table.table.table-hover
  %tr
    %th Title
    %th Expiry
    %th Winner
    %th Runner Up
    %th
    -if current_user && current_user.is_admin?
      %th
      %th
      %th

  - @elections.each do |election|
    -if election.end_date.future? || election.end_date.today?
      %tr
        %td= election.title
        %td= election.end_date
        %td= election.winner
        %td
          - result = tally_votes(election)
          = result.ranked_candidates[1].name unless result.ranked_candidates.nil? || result.ranked_candidates[1].nil?
        %td
          %a{:class => ["btn", "btn-primary"], :href => vote_path(election)}
            Vote Now!
        -if current_user && current_user.is_admin?
          %td= link_to 'Show', election
          %td= link_to 'Edit', edit_election_path(election)
          %td= link_to 'Destroy', election, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if current_user && current_user.is_admin?
  = link_to 'New Election', new_election_path
