= link_to "Home", root_path, :class => 'brand'
%ul.nav
  - if current_user
    %li
      .navbar-text
        = "Welcome #{current_user.name}!"
    %li
      = link_to('Logout', signout_path)
  - else
    %li
      = link_to('Login with Yammer!', "/auth/yammer")
